mixin products-list(args)
	.swiper.c-products-list 
		.swiper-wrapper.c-products-list__wrapper(id= "js-product-list")
		.c-products-list__prev
			svg.icon.icon-left-arrow
				use(xlink:href="#icon-left-arrow")
		.c-products-list__next
			svg.icon.icon-arrow
				use(xlink:href="#icon-arrow")