@import "../../styles/include-media";
@import "../../styles/variables";
@import "../../styles/mixins";

.welcome {
  background-color: $c-brownModal;
  pointer-events: none;
  @include fixedModal;
  height: 100vh;
  opacity: 0;
}

.wrapper {
  justify-content: space-between;
  transform: translate(0, -100%);
  background-color: $c-white;
  transition: all 0.5s, ease;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 400px;
  display: flex;
}

.paragraph {
  color: $c-greenDark;
  text-align: center;
  font-weight: bold;
  font-size: em(20);
  padding: 10px;
}

.redirecting {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 10px;

  &__text {
    animation: color 1s linear infinite;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: em(18);
  }
}

.open {
  pointer-events: all;
  z-index: 999;
  opacity: 1;
  & .wrapper {
    transition: all 0.5s ease;
    transform: translate(0, 0);
  }
}

@keyframes color {
  0% {
    color: $c-warning;
  }
  25% {
    color: $c-brown;
  }
  50% {
    color: $c-red;
  }
  75% {
    color: $c-redDark;
  }
  100% {
    color: $c-black;
  }
}
