@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/include-media";

.burger {
  position: fixed;
  cursor: pointer;
  display: none;
  right: 10px;
  top: 30px;

  @include media("<=tablet") {
    display: block;
  }

  @media (max-width: 400px) {
    top: 15px;
  }
  @include media("<=phone") {
    top: 2vh;
  }
  @media (max-width: 250px) {
    top: 8px;
  }

  &__wrapper {
    position: relative;
    @include size(26);
  }
  &__line,
  &__line::after,
  &__line::before {
    background-color: $c-black;
    transition: transform 0.5s ease;
    position: absolute;
    height: 2px;
    width: 100%;
  }

  &__line::after,
  &__line::before {
    content: " ";
  }

  &__line {
    top: 14px;

    &::after {
      bottom: -10px;
    }

    &::before {
      top: -10px;
    }
  }

  &.open .burger__line {
    transform: rotate(45deg);
    // transition: all 2s ease;

    &::before {
      opacity: 0;
      top: 16px;
    }

    &::after {
      transform: rotate(90deg);
      top: 0;
    }
  }
}
