@import "../../styles/variables";
@import "../../styles/mixins";

.main {
  &__wrapper {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    display: flex;
  }
}

.paragraph {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
