mixin input(args)
	- let id          = args.id;
	- let type        = args.type;
	- let name        = args.name;
	- let placeholder = args.placeholder;
	- let classList   = args.classList;
	- let value       = args.value;
	input.e-input(id= id, type= type, name= name, class= classList, value= value, placeholder= placeholder)