// Colors
$c-white: white;
$c-black: black;
$c-grey: grey;
$c-default: #a39c9c;
$c-warning: #d98b2b;
$c-green: #83a603;
$c-creme: #f2b950;
$c-brown: #734207;
$c-yellow: yellow;
$c-red: red;
$c-violet: rgb(233, 23, 128);
$c-greenLight: #22f556;
$c-greyLight: rgb(202, 201, 201);
$c-blue: rgb(43, 43, 236);
$c-brownModal: rgba(65, 38, 5, 0.6);
$c-blueTransparent: rgba(28, 28, 238, 0.7);

// Font-size:
$fs-base: 16;

// Fonts:
$f-roboto: "roboto";
