@import '../../styles/variables';
@import '../../styles/mixins';

.button {
  background-color: $c-lightBlue;
  max-width: fit-content;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  color: $c-white;
  cursor: pointer;
  outline: none;
  border: none;

  &--disabled {
    opacity: 0;
  }
}
