@import "../../styles/include-media";
@import "../../styles/mixins";
@import "../../styles/variables";

.main {
  padding: 30px 10px;
}

.mainWrapper {
  border-left: 1px solid $c-grey;
  max-width: 900px;

  padding: 0 20px;
}

.mainTitle {
  margin-bottom: 30px;
}

.contentSubtitle {
  margin-bottom: 10px;
}

.subtitle {
  font-size: em(24);

  &-small {
    margin-bottom: 10px;
    font-size: em(18);
  }
}

.paragraph {
  margin-bottom: 15px;
}

.deliveryList {
  padding: 10px;
}

.deliveryItem {
  font-style: italic;
  margin-bottom: 10px;
}
