@import "../../styles/include-media";
@import "../../styles/variables";
@import "../../styles/mixins";

.favour {
  background-color: $c-brownModal;
  justify-content: flex-end;
  pointer-events: none;
  @include fixedModal;
  align-items: center;
  display: flex;
  height: 100vh;
  opacity: 0;

  &__wrapper {
    transform: translate(0, -200%);
    background-color: $c-white;
    transition: all 2s, ease;
    position: relative;
    text-align: center;
    position: relative;
    padding: 30px 10px;
    overflow-y: auto;
    max-width: 600px;
    min-width: 250px;
    height: 100vh;
  }

  &__title {
    margin-bottom: 10px;
    text-align: left;
  }
}

.clear {
  text-decoration: underline;
  max-width: fit-content;
  display: inline-block;
  text-align: left;
  margin-top: 15px;
  cursor: pointer;
  color: $c-grey;
}

.favItem {
  justify-content: space-between;
  border: 1px solid $c-grey;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  padding: 5px;

  &__photo {
    width: 33%;
  }

  &__title,
  &__score {
    justify-content: space-between;
    flex-direction: column;
    margin-left: 5px;
    display: flex;
    width: 33%;
  }

  &__text {
    &:last-child {
      word-wrap: break-word;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
.deleteItem {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.close {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  display: flex;
  padding: 5px;
  right: 15px;
  top: 15px;
}

.title {
  text-align: center;
}

.open {
  pointer-events: all;
  z-index: 999;
  opacity: 1;
  & .favour__wrapper {
    transition: all 0.5s ease;
    transform: translate(0, 0);
  }
}
