@import "../../styles/include-media";
@import "../../styles/variables";
@import "../../styles/mixins";

.main {
  background-color: $c-defaultLight;
  padding: 20px 10px;

  &__title {
    padding: 0 20px 30px 20px;
    text-align: center;
  }

  &__content {
    justify-content: center;
    align-items: flex-start;
    display: flex;

    @include media("<=tablet") {
      flex-direction: column;
      align-items: center;
    }
  }
}

.filterBtn {
  margin-bottom: 10px;
  padding: 0 10px;
  display: none;
  width: 75%;

  @include media("<=tablet") {
    position: sticky;
    display: block;
    top: 15vh;
  }

  &__button {
    background-color: $c-greenTitles;
    letter-spacing: 2px;
    border-radius: 10px;
    font-weight: bold;
    color: $c-white;
    cursor: pointer;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;

    &:hover {
      background-color: $c-blue;
    }
  }
}

.filterBlock {
  background-color: $c-greyBorder;
  max-height: fit-content;
  flex-direction: column;
  align-items: stretch;
  position: sticky;
  padding: 15px;
  display: flex;
  width: 25%;
  top: 20vh;

  &-wrapper {
    @include media("<=tablet") {
      background-color: $c-brownModal;
      position: fixed;
      z-index: 199;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
    }

    &-close {
      background-color: $c-white;
      border-radius: 5px;
      cursor: pointer;
      position: fixed;
      display: block;
      padding: 10px;
      right: 20px;
      top: 20px;

      &-none {
        display: none;
      }
    }
  }

  @include media("<=tablet") {
    transition: transform 800ms cubic-bezier(0.8, 0, 0.33, 1);
    transform: translateX(-100%);
    justify-content: flex-start;
    min-width: 200px;
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
  }
}

.filterBlock.open {
  border-radius: 0 0 50px 0;
  transform: translateX(0);
  flex-direction: column;
  position: fixed;
  height: 100vh;
  display: flex;
  z-index: 200;
  opacity: 1;
  left: 0;
  top: 0;
}

.buttonMenu {
  background-color: $c-greyBorder;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 5px;
  cursor: pointer;
  display: flex;
  outline: none;
  border: none;
  border-top: 1px solid $c-grey;

  &:hover {
    background-color: $c-creme;
  }
}

.content {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  border-left: 3px solid $c-grey;
  margin-left: 10px;
  padding: 0 10px;
  max-width: 75%;
  grid-gap: 10px;
  display: grid;

  @include media("<=tablet") {
    max-width: 100%;
    margin-left: 0;
    border: none;
  }
}

.active {
  background-color: $c-hoverGreyCategory;
  border: none;
}
