// Colors
$c-whiteTransparent: rgba(255, 255, 255, 0.5);
$c-greyTransparent: rgba(128, 128, 128, 0.9);
$c-blueTransparent: rgba(83, 83, 249, 0.7);
$c-sliderBanerBG: rgba(65, 59, 59, 0.5);
$c-blue: rgb(35, 35, 221);
$c-lightFooter: #6b6b72;
$c-chokolate: chocolate;
$c-footer: #2e2e2f;
$c-red: rgb(172, 13, 13);
$c-redDark: rgb(68, 4, 4);

$c-white: white;
$c-black: black;
$c-grey: grey;

$c-brownModal: rgba(49, 32, 10, 0.6);
$c-greyLight: rgb(240, 235, 235);
$c-default: #a39c9c;
$c-warning: #d98b2b;
$c-green: #83a603;
$c-greenDark: #03a624;
$c-greenTitles: #156963;
$c-creme: #f2b950;
$c-cremeLight: #ebcf9c;
$c-brown: #734207;
$c-brownBGLight: rgba(44, 21, 0, 0.5);
$c-greyBorder: #f1f1f1;
$c-blueBorderHover: #366785;
$c-blueBorderShadow: #71a6c6;
$c-hoverGreyCategory: rgb(184, 179, 179);
$c-defaultLight: #f1e5ce;
$c-blackLight: rgb(44, 42, 42);
$c-greenTransparent: rgba(131, 166, 3, 0.585);

// Font-size:
$fs-base: 16;

// Fonts:
$f-pacifico: "pacifico";
$f-lobster: "lobster";
$f-roboto: "roboto";

// Box-shadow:
$bsh-baseAnimationStart: 0 0 0 0 rgba(83, 83, 249, 0.5);
// Transition:
