// Colors
$c-white: white;
$c-black: black;
$c-grey: #98989e;
$c-blackLight: #212429;
$c-blue: #3183ff;
$c-borderInput: #d8d8d8;
$c-borderForm: #ececec;
$c-focusBorder: #3183ff;
$c-success: #69cd63;
$c-error: #e7414c;

// Font-size:
$fs-base: 16;

// Fonts:
$f-montserrat: "montserrat";
